* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.formulario {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.formulario input[type="number"],
.formulario select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
}

.formulario button[type="submit"] {
    background-color: #0072c6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

.formulario button[type="submit"]:hover {
    background-color: #005ea2;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #0072c6;
    color: #fff;
    font-size: 18px;
}
